<link rel="stylesheet" href="/css/user_profile.css">

<h1>
    Codial | Profile page
    <%= title %>
</h1>
<<<<<<< HEAD
<img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">
<br>


<div>
    <% if(user.id == profile_user.id){ %>
        <!-- if user matches then show the form -->
        <div class="form-con">
            <form action='/users/update/<%= profile_user.id %>' method="post" enctype="multipart/form-data">
                <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
                <br>
                <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
                <br>
                <input type="file" name="avatar" placeholder="Profile Picture"><br>
                <br>
                <button type="submit">Update</button>

            </form>
        </div>
</div>
<% }else{ %>
    <!-- else show only the profile -->
    <p>
        <%= profile_user.name %>
    </p>
    <p>
        <%= profile_user.email %>
    </p>

    <% } %>
=======
<h4>You are the first user</h4>

<p>Name:
    <%= user.name %>
</p>
<p>Email:
    <%= user.email %>
</p>
>>>>>>> master
